Error Signaling spec is vague about the definition of "Timestamp"

The "Error Signaling" document at [specs/common/error-signalling.md](https://github.com/knative/specs/blob/main/specs/common/error-signalling.md) mentions that the `lastTransitionTime` field of a `Condition` object is of type "Timestamp". I believe this is too vague and inaccurate for a spec document because:
- Timestamp is not technically a "type"
- A timestamp can be expressed in different types and formats (integer for an epoch, string for different RFCs, ...)

I suggest we clarify the wording and rephrase "Timestamp" to 

> a string in date-time notation as defined by RFC 3339, section 5.6

Another considerable advantage IMO, is that this directly translated to the following OpenAPI constraint (ref. [OpenAPI reference > Data Types](https://swagger.io/docs/specification/data-models/data-types/#format)):

```yaml
type: string
format: date-time
```