HTTP 408 "Request Timeout" should be treated as a retry-able error

https://github.com/knative/specs/blob/main/specs/eventing/data-plane.md#event-acknowledgement-and-delivery-retry

lists possible 4xx errors, but only 404, 409 and 429 are retry-able.

I believe an HTTP 408 "Request Timeout" should be added to the list as a retry-able, 

See
https://datatracker.ietf.org/doc/html/rfc7231#section-6.5.7

> [6.5.7](https://datatracker.ietf.org/doc/html/rfc7231#section-6.5.7).  408 Request Timeout
> 
>    The 408 (Request Timeout) status code indicates that the server did
>    not receive a complete request message within the time that it was
>    prepared to wait.  A server SHOULD send the "close" connection option
>    ([Section 6.1 of [RFC7230]](https://datatracker.ietf.org/doc/html/rfc7230#section-6.1)) in the response, since 408 implies that
>    the server has decided to close the connection rather than continue
>    waiting.  ***If the client has an outstanding request in transit, the
>    client MAY repeat that request on a new connection.***


see, also e.g.
https://docs.microsoft.com/en-us/azure/architecture/best-practices/retry-service-specific#general-rest-and-retry-guidelines

as an example of a "retry guidelines" that declare 408 as a retry-able error.

+1

/unhold